<div
	id="dark-button"
	class="bg-blue-light dark:bg-blue-dark text-white h-full w-fit py-1.5 px-2 flex items-center flex-row-reverse justify-center gap-1 rounded-full cursor-pointer">
	<p id="dark-button-text">Light</p>
	<span
		class="material-symbols-outlined block bg-blue-dark dark:bg-blue-light text-white p-1 rounded-full"
		>light_mode</span
	>
</div>

<script type="module" src="/scripts/index.js"></script>
