---
import Descubre from "./children/Descubre.astro";
import RedesSociales from "./children/RedesSociales.astro";
---

<main class="px-[12px] overflow-hidden">
	<Descubre />
	<RedesSociales />
</main>
