<article class="max-w-xl mx-auto mt-4">
	<h1
		class="uppercase text-center text-lg text-main-blue dark:text-white font-bold">
		¡Descubre Biopharma!
	</h1>
	<p class="text-center text-sm text-dark dark:text-white mt-2">
		Tu aliado para un bienestar total. Transforma tu vida con nuestros
		productos naturales y encuentra soluciones para diabetes, rendimiento
		deportivo, intimidad y más. ¡Únete a nuestra comunidad y alcanza tu
		máximo potencial!
	</p>
</article>
